# TP3 – Serveur Mail iRedMail (202330648)

- Domaine : `formation.lan`
- DNS (Pi-hole) : `10.20.40.100`
- Serveur mail : `10.20.40.200` (`mail.formation.lan`)
- Date de rédaction : 2025-12-06


```bash
hostname
hostname -f
hostnamectl
```


```text
mail.formation.lan
mail.formation.lan
   Static hostname: mail
   Pretty hostname: mail
         Icon name: computer-vm
           Chassis: vm
        Machine ID: (…)
           Boot ID: (…)
  Operating System: Ubuntu 24.04 LTS
            Kernel: Linux 6.8.0-xx-generic
      Architecture: x86-64
```
